<p style="color: green"><%= notice %></p>

<%= render @runner %>

<div>
  <%= link_to "Edit this runner", edit_runner_path(@runner) %> |
  <%= link_to "Back to runners", runners_path %>

  <%= button_to "Destroy this runner", @runner, method: :delete %>
</div>
